#viewEntry {
  margin-left: 1em;
}
#body {
  margin-bottom: 1em;
}
#photo {
  margin-bottom: 1em;
}
#editButton {
  margin-top: 1em;
}
#dateNumber {
  font-size: 30px;
  float: right;
}
#dateMonth {
  font-size: 14px;
  margin-top: 5px;
  margin-left: 5px;
}
#userPageContainer {
  padding-left: 25px
}
#tl {
  padding-right: 0px
}
#date {
  text-align: center
}
