#viewEntry {
  margin-left: 4em;
  margin-top: 1em;
  height: 715px;
  width: 900px;
  overflow: auto;
  padding-right: 4em;
}
#body {
  margin-top: 2em;
  margin-bottom: 2em;
}
#photo {
  margin-bottom: 1em;
}
#editButton {
  margin-top: 1em;
  margin-right: 3em;
  float: right
}
#dateNumber {
  font-size: 30px;
  float: right;
}
/* #dateMonth {
  font-size: 14px;
  margin-top: 5px;
  margin-left: 5px;
} */
#userPageContainer {
  padding-left: 25px
}
#tl {
  padding-right: 0px
}
#date {
  color: #c0c1c2
}
#newJournalButton {
  background-color: #54c8ff
}
#newEntryButton {
  background-color: #54c8ff
}
#editEntryButton {
  background-color: #54c8ff
}
#editJournalButton {
  background-color: #54c8ff
}

/* [title~='hover']:hover {
  background: #ffff00;
} */
#location {
  color: #c0c1c2
}

#parent {
  overflow: auto;
}

#allEntries {
  height: 700px;
  width: 100%;
  overflow: auto;
}

#journalEntries {

}

#header {
  background-color: #F5F5F5;
  border-bottom: none;
}
#journalEditButton {
  background-color: #F5F5F5
}

.gallery {
  max-width: 100%;
  max-height: 100%;
  margin-left: 4em;
  margin-top: 1em;
}

#gallery {
  margin-top: 10px;
  height: 700px;
  width: 100%;
  overflow: auto;
}

#titleEdit {
  margin-bottom: 10px;
}

#titleNew {
  margin-bottom: 15px;
}

#dateEdit {
  margin-bottom: 10px;
  color: #c0c1c2
}

#dateNew {
  margin-bottom: 15px;
  color: #c0c1c2
}

#locationEdit {
  margin-bottom: 5px;
  color: #c0c1c2
}

#locationNew {
  margin-bottom: 5px;
  color: #c0c1c2
}

#editPhotoInput {
  margin-bottom: 10px;
  margin-top: 10px;
}

#loginContainer {
  margin-top: 90px;
  text-align: center;
}

#loginMessage {
  margin-top: 90px;
  margin-bottom: 50px;
  font-size: 50px;
  color: #808080;
}

#login {
  margin-top: 60px
}

#signup {
  margin-top: 60px
}
.shelby:hover {
  background-color: #F5F5F5;
}

.gallery:hover{
  opacity: 0.8;
}
