#viewEntry {
  margin-left: 1em;
}
#body {
  margin-bottom: 1em;
}
#photo {
  margin-bottom: 1em;
}
#editButton {
  margin-top: 1em;
}
#dateNumber {
  font-size: 30px;
  float: right;
}
#dateMonth {
  font-size: 10px;
}
